<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tarefa - KARINA DECLEVA</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form method="post" action="/pessoas/criar">
        <h1>Dados</h1>
        <label id="nome" for="text">Nome:</label>
        <input type="text" class="texto"/>
        <label id="sobrenome" for="text">Sobrenome:</label>
        <input type="text" class="texto"/>
        <label id="idade" for="text">Idade:</label>
        <input type="text" class="texto"/>
        <label id="altura" for="text">Altura:</label>
        <input type="text" class="texto"/>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>